apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-code-with-quarkus-vec1
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-azdv-tenant/quarkus/devfile-sample-code-with-quarkus-vec1@sha256:371552a0567aa9255444d0754f71881ccbf3a52627895b74a37923c64e889967
        name: my-java-quarkus
        resources: {}
status: {}
